<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *********** -->
    <!-- API Helpers -->
    <!-- *********** -->
    <preference for="Praxigento\BonusReferral\Api\Helper\Register"
                type="Praxigento\BonusReferral\Helper\Register"/>

    <!-- ************ -->
    <!-- API Services -->
    <!-- ************ -->
    <preference for="Praxigento\BonusReferral\Api\Service\Bonus\Collect"
                type="Praxigento\BonusReferral\Service\Bonus\Collect"/>
    <!-- override service from PV module to account PV from referral order to the sponsor of the customer. -->
    <preference for="Praxigento\Pv\Api\Service\Sale\Account\Pv"
                type="Praxigento\BonusReferral\Service\Sale\Account\Pv"/>

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:bonus:referral:collect" xsi:type="object">Praxigento\BonusReferral\Cli\Collect</item>
            </argument>
        </arguments>
    </type>

    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="Magento\CatalogInventory\Observer\QuantityValidatorObserver">
        <!-- Skip quantity validation for referral bonus calculations. -->
        <plugin name="prxgt_bon_ref_plugin"
                type="Praxigento\BonusReferral\Plugin\Magento\CatalogInventory\Observer\QuantityValidatorObserver"
                sortOrder="800" disabled="false"/>
    </type>
    <type name="Praxigento\Pv\Observer\SalesModelServiceQuoteSubmitSuccess">
        <!-- Register referral sale before PV accounting. -->
        <plugin name="prxgt_bon_ref_plugin"
                type="Praxigento\BonusReferral\Plugin\Praxigento\Pv\Observer\SalesModelServiceQuoteSubmitSuccess"
                sortOrder="800" disabled="false"/>
    </type>

</config>
