<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- "Bonus / Grids" group items -->
        <add id="Praxigento_BonusReferral::bonus_referral"
             title="Referral Bonus"
             translate="title"
             module="Praxigento_BonusReferral"
             sortOrder="200"
             parent="Praxigento_BonusBase::bonus_grids"
             action="bonus/referral"
             resource="Praxigento_BonusReferral::admin_bonus_referral"/>

    </menu>
</config>